:root {
    --purple: #650f9d;
    --purple-light: #6f02f3;
    --blue: #4953ff;
    --orange: #fd8f6c;
    --red: #D6000D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fff;  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin: 10px 40px;
}


/* LOGO */
header h2 {
    color: var(--red);
    font-size: 3.0rem;
    font-weight: 700;
    font-style: italic;
}

header .logo span {
    color: black;
    font-weight: 900;
    font-style: normal;
    font-size: 3.0rem;
}

/* MENU */
header nav a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

header nav a:hover {
   color: var(--red);
}

header nav a:nth-child(4) { /* Botao */
    padding: 8px 70px;
    background-color: var(--red);
    color: #fff;
    border-radius: 0.50rem;
    font-weight: 600;
    cursor: pointer
}



/* BANNER */
.container-banner {   
    margin-top: 5%;
    margin-bottom: 15%;
}

.container-banner .banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.container-banner .banner-content img{
    width: 35%;
    height: 35%;
    margin-left: 8%;
}

.container-banner .banner-infos {
    margin-top: 4%;
}
.container-banner .banner-infos p{
    font-size: 1.6rem;
    font-weight: 700;
}

.container-banner .banner-infos h1{
    font-size: 4.0rem;
    font-weight: 700;
    color: var(--red);
    margin-bottom: 40px;
}
.container-banner .banner-infos a{
    padding: 10px 50px;
    background-color: var(--red);
    color: #fff;
    border-radius: 0.50rem;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
}

/* SERVIÇOS */

.container-service {
    margin-top: 5%;
    margin-bottom: 10%;
}

.service-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.service-items ul {
    margin-top: 8%;
    margin-left: 5%;
}

.service-items li {
    list-style:none;
    margin-right: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.3rem;  
}

.service-items i {
    color: var(--red);
    margin-right: 10px;
}

.container-service img {
    width: 35%;
    height: 35%;
}

.texts-buttons {
    margin-left: 14%;
    margin-top: -2%;
}

.texts-buttons p {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 3%;
}

.buttons a:nth-child(1) { /* Botao */
    padding: 15px 70px;
    background-color: #dcdcdc;
    color: #3c3c4b;
    border-radius: 0.50rem;
    font-weight: 400;
    text-decoration: none;
    margin-right: 1%;  
    cursor: pointer;

}

.buttons a:nth-child(2) { /* Botao */
    padding: 15px 50px;
    background-color: var(--red);
    color: #fff;
    border-radius: 0.50rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

/* TESTIMONIALS  */

.container-testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15%; 
    margin-bottom: 8%;
}

.card {
    background-color: #dcdcdc;
    border-radius: 0.50rem;
   
    width: 480px;
}

.card .content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card .card-info {
   margin-left: 20px;
}

.card .card-info p {
    font-size: 1.0rem;
    margin-bottom: 5px;
}

.card .card-info .name {
    font-size: 1.3rem;
}

.card .card-info .company {
    font-weight: 600;
    font-size: 0.9rem;
}

.card .circulo-foto{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--red);
    padding: 40px;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 300px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    background: black;    
    color: #fff;
}

.logo h2{
    font-size: 3.0rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: -10px;
}

.footer h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.box a{
    color: #fff;
}

.box address {
    font-style: normal;
}

.group {
    display: flex;
    justify-content: space-around;
    font-size: 2.0rem;
    color: var(--red);
}

.group i {
    cursor: pointer;
}


/* RESPONSIVE */
@media screen and (max-width: 600px) { 

    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20%;
        height: 10rem;
    }

    /* LOGO */
    header h2 {
        color: var(--red);
        font-size: 4.0rem;
        font-weight: 800;
        margin-top: 30px;
    }
    
    header .logo span {
        margin-top: -60px;
        margin-left: 188px;

    }
    /* MENU */
    header nav a {
        margin-left: 30px;
        font-size: 1.8rem;
        font-weight: 600;
    }

    header nav a:nth-child(4) { /* Botao */
        display: none;
    }

        /* BANNER */
    .container-banner {   
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .container-banner .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-banner .banner-content img{
        width: 70%;
        height: 70%;
    }

    .container-banner .banner-infos {
        margin-top: 15%;
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .container-banner .banner-infos a{
        padding: 18px 70px;
        border-radius: 0.80rem;
        font-size: 1.8rem;
    }

    /* SERVIÇOS */

    .container-service {
        margin-top: 40%;
        margin-bottom: 30%;
    }

    .service-items {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
        
    .container-service img {
        width: 60%;
        height: 60%;
    }

    /* List Services */
    .service-items ul {
        margin-bottom: 8%;
    } 
    
    .service-items li {
        list-style:none;
        margin-right: 10px;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 70px;  
    }
    
    .service-items i {
        margin-right: 15px;
    }

    
    .texts-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 8%;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texts-buttons p {
        font-weight: 700;
        font-size: 2.0rem;
        margin-bottom: 5%;
    }

    .buttons a:nth-child(1) { 
        padding: 28px 140px;
        border-radius: 1.2rem;
        font-size: 1.8rem;

        margin-bottom: 5%;
    }

    .buttons a:nth-child(2) { 
        padding: 28px 70px;
        border-radius: 1.2rem;
        font-size: 1.8rem;
    }

    /* TESTIMONIALS  */

    .container-testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 550px;
        border-radius: 0.80rem;
        margin-bottom: 5%;
    }
 
    
    .card .card-info p {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    
    .card .card-info .name {
        font-size: 2.2rem;
    }
    
    .card .card-info .company {
        font-weight: 600;
        font-size: 1.3rem;
    }
    
    .card .circulo-foto{
        width: 100px;
        height: 100px;
        padding: 50px;
    }

 
    /* FOOTER */
    .footer {
        height: 800px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .logo {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .logo h2{
        font-size: 4.0rem;
    }
    .logo p{
        font-size: 1.8rem;
        margin-top: -3%;
    }

    .box {
        margin-top: 8%;
    }
    .footer h3 {
        font-size: 2.2rem;
    }


    .group {
        display: flex;
        justify-content: flex-start;
        font-size: 4.0rem;
    }
    .group i:nth-child(2){
        margin-left: 8%;
    }
    .group i:nth-child(3){
        margin-left: 8%;
    }


}